@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 164 86% 10%;
    --card: 0 0% 100%;
    --card-foreground: 164 86% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 164 86% 10%;
    --primary: 164 86% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 164 13% 94%;
    --secondary-foreground: 164 77% 20%;
    --muted: 164 9% 92%;
    --muted-foreground: 164 34% 40%;
    --accent: 164 26% 90%;
    --accent-foreground: 164 77% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 164 9% 88%;
    --input: 164 9% 88%;
    --ring: 164 86% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 164 43% 8%;
    --foreground: 0 0% 98%;
    --card: 164 43% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 164 43% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 164 77% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 164 26% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 164 22% 18%;
    --muted-foreground: 164 17% 70%;
    --accent: 164 34% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 164 26% 15%;
    --input: 164 26% 15%;
    --ring: 164 86% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    scroll-behavior: smooth;
  }
}

